@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    /* border: 1px solid #8882; */
}
body{
    height: auto;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.spot {
    position: absolute;
    width: 30rem;
    height: 30rem;
    border-radius: 30rem;
    pointer-events: none;
    z-index: -1;
}

.spot-1 {
    /* blue*/
    background-image: radial-gradient(rgba(0, 106, 255, 0.1) 20%, #00f0 60%, #00f0);
    transform: translate(-40%, 10%);
}

.spot-2 {
    /* purple*/
    background-image:radial-gradient(rgba(102, 0, 255, 0.1) 20%, #00f0 60%, #00f0);
    transform: translate(40%, 20%);
}

.spot-3 {
    /* red*/
    background-image: radial-gradient(rgba(255, 0, 68, 0.1) 20%, #00f0 60%, #00f0);
    transform: translate(50%, 30%);
}

.spot-4 {
    /* yellow*/
    background-image: radial-gradient(rgba(255, 238, 0, 0.1) 20%, #00f0 60%, #00f0);
    transform: translate(-30%, 40%);
}


.spot-5 {
    /* mint */
    background-image: radial-gradient(rgba(6, 245, 217, 0.1) 20%, #00f0 60%, #00f0);
    transform: translate(-40%, 180%);
}


.spot-6 {
    /* blue*/
    background-image: radial-gradient(rgba(0, 106, 255, 0.1) 20%, #00f0 60%, #00f0);
    transform: translate(-40%, 180%);
}

.spot-7 {
    /* purple*/
    background-image: radial-gradient(rgba(102, 0, 255, 0.1) 20%, #00f0 60%, #00f0);
    transform: translate(40%, 190%);
}

.spot-8 {
    /* red*/
    background-image: radial-gradient(rgba(255, 0, 68, 0.1) 20%, #00f0 60%, #00f0);
    transform: translate(50%, 220%);
}

.spot-9 {
    /* yellow*/
    background-image: radial-gradient(rgba(255, 238, 0, 0.1) 20%, #00f0 60%, #00f0);
    transform: translate(-30%, 170%);
}


.spot-10 {
    /* mint */
    background-image: radial-gradient(rgba(6, 245, 217, 0.1) 20%, #00f0 60%, #00f0);
    transform: translate(40%, 220%);
}

.grid {
            background:
                linear-gradient(-90deg, rgba(0, 0, 0, .05) 1px, transparent 1px),
                linear-gradient(rgba(0, 0, 0, .05) 1px, transparent 1px),
                linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
                linear-gradient(rgba(0, 0, 0, .04) 1px, transparent 1px),
                linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
                linear-gradient(-90deg, #aaa 1px, transparent 1px),
                linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
                linear-gradient(#aaa 1px, transparent 1px),
                #f2f2f2;
            background-size:
                4px 4px,
                4px 4px,
                80px 80px,
                80px 80px,
                80px 80px,
                80px 80px,
                80px 80px,
                80px 80px;
}

.simple-grid{
    background-size: 6px 6px;
        background-image:
            linear-gradient(to right, #88888804 1px, transparent 1px),
            linear-gradient(to bottom, #88888804 1px, transparent 1px);
}

.codeblock * {
    font-size: .7rem;
    /* line-height: .01rem !important;
    padding: 0 !important;
        margin: 0 !important; */
    
}
.codeblock{
    min-width: 30rem;
    max-width: 80vw;
}